@charset "UTF-8";

/* debug */
div.test {
    font-size: 12px;
    position : absolute;
    top      : 1%;
    left     : 1%;
}

/* debug */

body {
    font-size       : 15px;
    color           : #ffffff;
    background-color: black;
}

h1 {
    font-size : 32px;
    text-align: center;
}

span.green {
    color: yellowgreen;
}

span.red {
    color: tomato;
}

span.bold {
    font-weight: bold;
}

span.small {
    font-size: 10px;
}

.container {
    width       : 1080px;
    position    : relative;
    margin-left : auto;
    margin-right: auto;
}

.wrapper {
    margin-left : auto;
    margin-right: auto;
}

/* infoBoard */
div#infoBoard {
    position       : absolute;
    top            : 0.0%;
    left           : 27.7%;
    width          : 480px;
    height         : 120px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

div#message {
    width : 100%;
    height: 100%;
}

div#message>p {
    font-size         : 20px;
    font-weight       : bold;
    text-align        : center;
    margin-block-start: 0em;
    margin-block-end  : 0.5em;
}

div#message>p:first-child {
    font-size: 32px;
}

span.YOUR {
    color: greenyellow;
}

span.ENEMY {
    color: tomato;
}

div#message.WIN span,
div#message.victory span {
    color: greenyellow;
}

div#message.LOSE span,
div#message.defeat span {
    color: tomato;
}

/* gameBoard */
div#gameBoard {
    display: grid;
    grid-template-areas:
        "EN_Hand Blank EN_countNum"
        "EN_Hand EN_Cards  EN_Cards"
        "EN_Hand EN_PassiveSP EN_PassiveSP"
        "MY_Hand MY_PassiveSP MY_PassiveSP"
        "MY_Hand MY_Cards  MY_Cards"
        "MY_Hand MYInfo MY_countNum";
    grid-template-rows   : 60px 125px 70px 70px 125px 60px;
    grid-template-columns: 160px 1fr 160px;
    grid-gap             : 10px;
    width                : 720px;
    background           : radial-gradient(#619c4a, #305820, #10200a);
    box-shadow           : inset 0 0 25px 10px #000000ee;
    padding              : 25px;
    margin-top           : 50px;

    /* 3D Transform */
    transform: perspective(720px) translateZ(0px) rotateX(45deg);
}

/* div#gameBoard>div:not(:empty), */
#gameBoard>div {
    border: 1px solid #ffd8d880;
}

#EN_Hand {
    grid-area: EN_Hand;
}

#Blank {
    grid-area: Blank;
}

#EN_countNum {
    grid-area: EN_countNum;
}

#EN_Cards {
    grid-area: EN_Cards;
}

#EN_PassiveSP {
    grid-area: EN_PassiveSP;
}

#MY_Hand {
    grid-area: MY_Hand;
}

#MY_Info {
    grid-area: MYInfo;
}

#MY_countNum {
    grid-area: MY_countNum;
}

#MY_Cards {
    grid-area: MY_Cards;
}

#MY_PassiveSP {
    grid-area: MY_PassiveSP;
}

div#EN_PassiveSP,
div#MY_PassiveSP {
    background-color: rgba(16, 4, 25, 0.725);
    border          : 3px dashed #ffd8d880;
}

#EN_Cards,
#EN_PassiveSP,
#MY_Cards,
#MY_PassiveSP {
    display: flex;
}

#EN_Cards>div.numCard,
#EN_PassiveSP>div.spCard {
    /* 2D Transform : Up side Down */
    transform: rotate(180deg);
    filter   : drop-shadow(-2px -2px 2px black);
}

div.numCard {
    flex            : 0 0 84px;
    height          : 120px;
    margin-right    : 10px;
    margin-top      : auto;
    margin-bottom   : auto;
    border-radius   : 5px;
    font-size       : 48px;
    color           : black;
    text-align      : center;
    filter          : drop-shadow(2px 2px 2px black);
    background-color: antiquewhite;
}

div.numCard.back {
    color           : antiquewhite;
    background-color: #2c2c2c;
}

div.numCard.back>div {
    font-size : 24px;
    margin-top: 8px;
    background:
        linear-gradient(to left, #00000020, #000000cc, #00000020);
}

div.spCard {
    flex            : 0 0 60px;
    height          : 60px;
    margin-left     : 10px;
    margin-right    : 10px;
    margin-top      : auto;
    margin-bottom   : auto;
    border-radius   : 5px;
    filter          : drop-shadow(2px 2px 2px black);
    background-color: darkgoldenrod;
}

div#EN_countNum,
div#MY_countNum {
    font-size       : 32px;
    color           : antiquewhite;
    display         : flex;
    align-items     : center;
    justify-content : center;
    border          : 1px solid antiquewhite;
    background-color: #3535358f;
}

div#MY_countNum>span.just,
div#EN_countNum>span.just {
    color: greenyellow;
}

div#MY_countNum>span.burst,
div#EN_countNum>span.burst {
    color: tomato;
}

/* keyframes animation */
@keyframes slide_in {
    0% {
        position: relative;
        left    : 600px;
    }

    100% {
        position: relative;
        left    : 0px;
    }
}

@keyframes showCount {
    0% {
        visibility: hidden;
    }

    80% {
        visibility: hidden;
    }

    81% {
        visibility: visible;
        transform : scale(1);
    }

    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

div.YOUR>div#gameBoard.draw>div#EN_Cards>.numCard:last-child,
div.ENEMY>div#gameBoard.draw>div#MY_Cards>.numCard:last-child,
div#gameBoard.new_game>div#EN_Cards>.numCard,
div#gameBoard.new_game>div#MY_Cards>.numCard,
div#gameBoard.new_round>div#EN_Cards>.numCard,
div#gameBoard.new_round>div#MY_Cards>.numCard {
    animation: slide_in 1s;
}

div.YOUR>div#gameBoard.draw>#EN_countNum>span,
div.ENEMY>div#gameBoard.draw>#MY_countNum>span {
    animation: showCount 1.5s;
}

/* keyframes animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

#MY_Hand,
#EN_Hand {
    position: relative;
}

#EN_Hand>img.Hand {
    width    : 225px;
    height   : 325px;
    position : absolute;
    transform: translateY(-60px) translateX(-40px);
    filter   : drop-shadow(2px 2px 2px black);
}

#MY_Hand>img.Hand {
    width    : 225px;
    height   : 375px;
    position : absolute;
    transform: translateY(-25px) translateX(-30px);
    filter   : drop-shadow(2px 2px 2px black);
}

img.select.Hand {
    filter   : none;
    animation: fade-in 1s infinite alternate;
}

img.lost.Hand {
    filter: none;
}

div#user_info {
    padding   : 8px;
    height    : 42px;
    font-size : 12px;
    color     : yellowgreen;
    background: linear-gradient(90deg, #0000008e, #00000000);
}

div#user_info:first-line {
    color    : antiquewhite;
    font-size: 18px;
}